* {
  font-family: 'Assistant', sans-serif;
  color: #fff;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #FD4703;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sentence {
  position: fixed;
  pointer-events: none;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
#word-mobile {
  display: none;
}
h4 {
  width: 40rem;
  margin: auto;
  transform: translateX(5rem);
  text-align: left;
  z-index: 2;
  font-weight: 100;
  font-size: 2rem;
}

strong {
  font-weight: 700;
}

#grid {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

a {
  width: 20vw;
  height: 25vh;
}

a img {
  outline: none;
  border: none;
  opacity: 0;
}

a img:hover {
  opacity: 1;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ================= MOBILE ================= */
@media screen and (max-width: 850px) {
  .card-link {
    pointer-events: none;
  }

  #word-mobile {
    pointer-events: all;
  }

  span {
    display: none;
  }

  #word-mobile {
    display: inline;
  }

  h4 {
    width: 87vw;
    transform: none;
    font-size: 5.3vw;
  }

  #grid {
    grid-template-columns: repeat(3, 2fr);
  }

  a {
    width: 33.4vw;
    height: 14.3vh;
  }
}